<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>APP Gestor de Tareas11</title>

   <!-- la hoja de estilo local(main.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- plantilla de BOOstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">

    <!-- GoogleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>
    <main class="container p4">
        <h1 class="display-5 text-center mt4 titulo"> APP de Gestión de Tareas</h1>
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto"> <!--Este div ocupará 4 columnas del espacio (centrado)-->

                <div class="card"> <!--Creación del objeto card-->
                    <div class="card-header">

                        <form action="/crear-tarea" method="POST"> <!--Corregir la acción y agregar el método-->
                            <div class="form-group">
                                <input type="text" name="contenido_tarea" placeholder="Tarea" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Guardar
                            </button>
                        </form>
                    </div>

                    <div class="card-body">
                       <ul class="list-group">
                            {% for tarea in lista_de_tareas %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" >

                                <span class="{%if tarea.hecha == true%} tarea_hecha {% endif %}">
                                    {{tarea.contenido }}
                               <!-- contenido es la variable de la clase tarea que almacena el texto -->
                                </span>
                            <div class = "ml-auto">

                                <a href="/tarea-hecha/{{tarea.id}}"   style="text-decoration:none; margin-right: 5px ">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                       <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>
                                </a>
                               <!--- Edición  -->
                                <a href="{{ url_for('editar', id=tarea.id) }}"   style="text-decoration:none; margin-right: 5px " target="_blank" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>
                                 </a>
                             <!--- Eliminar -->
                               <a href="/eliminar-tarea/{{tarea.id}}"  style="text-decoration:none">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                       <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>
                                </a>
                            </div>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
